
<section  class="max-w-auto mx-auto px-4 sm:px-6 lg:px-4 py-12 ;  bg-gray-300 bg-blend-multiply" >
    <div   class="layout-wrapper layout-content-navbar">
        <div style="height:70% ; margin-right: auto;" class="layout-container">
          <div   class="layout-page">
            <div class="content-wrapper" style="font-size: medium; padding-left: 60px;">
              <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> Show Users</h4>
          
              
    
                
         <div style="margin-left: auto"  class="input-group mb-3">
                  <input
                  type="text"
                  class="form-control"
                  placeholder="Search by id"
                  [(ngModel)]="id"  >
         <div  class="input-group-append">
    
           <button
             class="btn btn-outline-secondary"
           
           >
             Search
           </button>
         </div>
       </div>
    
     
    
                <div class="card">
                  <div id="filterPromotion">
                    <h5 class="card-header" >Table Basic</h5>
                    
                    <button mat-raised-button color="primary" style="margin-left: 20px ; height: 50px; "  >Add  User</button>
    
    
                  </div>
                  <div class="table-responsive text-nowrap" style="max-height:100% px ; max-width: 200%;">
                    <table class="table"   >
                      <thead>
                      <tr>
                        <th>
                          <span style="margin-right: 30px;">ID</span>
                          <span class="tf-icons bx bx-up-arrow-alt btn-outline-primary" (click)="onSortChange('nom,asc')"></span>
                          <span class="tf-icons bx bx-down-arrow-alt btn-outline-info" (click)="onSortChange('nom,desc')"></span>
                        
                        </th>
                        
                        <th>
                          <span style="margin-right: 120px;">Email</span>
                          <span class="tf-icons bx bx-up-arrow-alt btn-outline-primary" (click)="onSortChange('pourcentage,asc')"></span>
                          <span class="tf-icons bx bx-down-arrow-alt btn-outline-info"(click)="onSortChange('pourcentage,desc')"></span></th>
                         <th>
                          <span style="margin-right: 30px;">Subscrition</span>
                          <span class="tf-icons bx bx-up-arrow-alt btn-outline-primary" (click)="onSortChange('duree,asc')"></span>
                          <span class="tf-icons bx bx-down-arrow-alt btn-outline-info"(click)="onSortChange('duree,desc')"></span></th>
                        
                          <th>
    
                            <span style="margin-right: 110px;">Firsname</span>
                            <span class="tf-icons bx bx-up-arrow-alt btn-outline-primary" (click)="onSortChange('description,asc')"></span>
                            <span class="tf-icons bx bx-down-arrow-alt btn-outline-info"(click)="onSortChange('description,desc')"></span></th>
                             
                        
                         <th>
    
                         <span style="margin-right: 110px;">Lastname</span>
                         <span class="tf-icons bx bx-up-arrow-alt btn-outline-primary" (click)="onSortChange('description,asc')"></span>
                         <span class="tf-icons bx bx-down-arrow-alt btn-outline-info"(click)="onSortChange('description,desc')"></span></th>
                                
                         <th>
    
                            <span style="margin-right: 110px;">Password</span>
                            <span class="tf-icons bx bx-up-arrow-alt btn-outline-primary" (click)="onSortChange('description,asc')"></span>
                            <span class="tf-icons bx bx-down-arrow-alt btn-outline-info"(click)="onSortChange('description,desc')"></span></th>
                                   
                   
                            <th>
    
                                <span style="margin-right: 110px;">Role</span>
                                <span class="tf-icons bx bx-up-arrow-alt btn-outline-primary" (click)="onSortChange('description,asc')"></span>
                                <span class="tf-icons bx bx-down-arrow-alt btn-outline-info"(click)="onSortChange('description,desc')"></span></th>
                                       
                         <th>
    
                                <span style="margin-right: 110px;">User Status</span>
                                <span class="tf-icons bx bx-up-arrow-alt btn-outline-primary" (click)="onSortChange('description,asc')"></span>
                                <span class="tf-icons bx bx-down-arrow-alt btn-outline-info"(click)="onSortChange('description,desc')"></span></th>
                                           
                           
                                
                            
                        </tr>
    
                      </thead>
                      <tbody class="table-border-bottom-0">
                      <tr *ngFor="let user of users ">
                        <td>{{user.id}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.isSubscribed}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.role}}</td>
                        <td>{{user.statusUser}}</td>


                      
                        <td>
                          <button  (click)="deleteUser(user.id)"   class="btn btn-danger"  >Delete</button>
      
                        </td>
                        <td>
                          <button    class="btn btn-warning"  >Update</button>
      
                        </td>
    
                        
    
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
      
              </div>
              <div class="row justify-content-center">
               
              </div>
              
            </div>
            <div class="layout-overlay layout-menu-toggle"></div>
          </div>
        </div>
      </div>
    </section>
    
      