

<!-- component -->
<nav  id="header" class="w-full z-30 top-10 py-1 bg-gradient-to-r from-gray-800 to-gray-700 shadow-lg border-b border-black-400 ">
  <div class="w-full flex items-center justify-between mt-0 px-6 py-2">
     
     
     <div  style="padding-bottom:500 em ;"  class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-1" id="menu">
        <nav>
           <ul class="md:flex items-center justify-between  text-white pt-4 md:pt-0 text-xl">
              <li><a style="cursor: pointer;"  class="inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2" (click)="redirectToHomeAdmin()" >Home</a></li>
              <li><a style="cursor: pointer;" class="inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2"(click)="redirectToListReclamation()"  >Reclamation</a></li>
              <li><a style="cursor: pointer;" class="inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2"(click)="redirectToListAirlines()"   >Airline</a></li>

              <li><a style="cursor: pointer;" class="inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2" (click)="redirectTolisthotel()" >Hotel</a></li>
              <li><a style="cursor: pointer;" class="inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2" (click)="redirectToFront()" >GO Front</a></li>


          </ul>
        </nav>
     </div>
     
     <div style="padding-top:500 em ;" class="order-2 md:order-3 flex flex-wrap items-center justify-end mr-0 md:mr-4" id="nav-content">
        <li> <a style="cursor: pointer;" class="inline-block no-underline text-white  hover:text-black  font-medium text-lg py-2 px-4 lg:-ml-2" (click)="redirectTolistUser()" >User Management</a></li>

      </div>
     </div>
</nav>














