.example-spacer {
    flex: 1 1 auto;
  }
  
  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
    
    
  }
  
  .action {
    display: flex;
    gap: 5px;
  }
  .card {
height: 150%;
width: 150%;
position:10px 10 px 20 px;
  }
  